@import '../../styles/color/colors.less';

.yk-tooltip {
  --tooltip-theme-bg-color: @dark;
  --tooltip-theme-font-color: @white;
  --tooltip-theme-min-width: 2em;
  --tooltip-theme-min-height: 2em;
  --tooltip-theme-max-width: 250px;
  --tooltip-theme-max-hegiht: fit-contnet;
  @arrowSize: 1em; // 箭头大小
  @brSize: @space-ss; // 圆角值大小

  position: relative;
  width: fit-content;
  &__content {
    position: absolute;
    z-index: 999;
    padding: @space-ss @space-s;
    width: max-content;
    min-width: var(--tooltip-theme-min-width);
    max-width: var(--tooltip-theme-max-width);
    min-height: var(--tooltip-theme-min-height);
    max-height: var(--tooltip-theme-max-hegiht);
    font-size: @size-s;
    border-radius: @brSize;
    text-align: start;
    color: var(--tooltip-theme-font-color);
    background-color: var(--tooltip-theme-bg-color);
    box-shadow: @shadow-m;
    word-wrap: break-word;
  }
  &__content &__arrow {
    position: absolute;
    width: @arrowSize;
    height: @arrowSize;
    background-color: inherit;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
  }

  &__content--left {
    top: 50%;
    left: 0;
    translate: calc(-100% - @arrowSize) -50%;
  }
  &__content--leftTop {
    top: 0;
    left: 0;
    translate: calc(-100% - @arrowSize) 0;
  }
  &__content--leftBottom {
    bottom: 0;
    left: 0;
    translate: calc(-100% - @arrowSize) 0;
  }
  &__content--top {
    top: 0;
    left: 50%;
    translate: -50% calc(-100% - @arrowSize);
  }
  &__content--topLeft {
    top: 0;
    left: 0;
    translate: 0 calc(-100% - @arrowSize);
  }
  &__content--topRight {
    top: 0;
    right: 0;
    translate: 0 calc(-100% - @arrowSize);
  }

  &__content--bottom {
    bottom: 0;
    left: 50%;
    translate: -50% calc(100% + @arrowSize);
  }

  &__content--bottomLeft {
    bottom: 0;
    left: 0;
    translate: 0 calc(100% + @arrowSize);
  }

  &__content--bottomRight {
    right: 0;
    bottom: 0;
    translate: 0 calc(100% + @arrowSize);
  }

  &__content--right {
    top: 50%;
    right: 0;
    translate: calc(100% + @arrowSize) -50%;
  }

  &__content--rightTop {
    top: 0;
    right: 0;
    translate: calc(100% + @arrowSize) 0;
  }
  &__content--rightBottom {
    right: 0;
    bottom: 0;
    translate: calc(100% + @arrowSize) 0;
  }
  .l() {
    right: 1px;
    clip-path: polygon(50% 50%, 0 100%, 0% 0);
    transform: translateX(100%);
  }
  .t() {
    bottom: 1px;
    clip-path: polygon(50% 50%, 0 0%, 100% 0);
    transform: translateY(100%);
  }
  .b() {
    top: 1px;
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    transform: translateY(-100%);
  }
  .r() {
    left: 1px;
    clip-path: polygon(50% 50%, 100% 100%, 100% 0);
    transform: translateX(-100%);
  }
  &__content--left &__arrow {
    .l();
    top: 50%;
    transform: translateX(100%) translateY(-50%);
  }
  &__content--leftTop &__arrow {
    .l();
    top: @brSize;
  }
  &__content--leftBottom &__arrow {
    .l();
    bottom: @brSize;
  }
  &__content--top &__arrow {
    .t();
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }
  &__content--topLeft &__arrow {
    .t();
    left: @brSize;
  }
  &__content--topRight &__arrow {
    .t();
    right: @brSize;
  }

  &__content--bottom &__arrow {
    .b();
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }
  &__content--bottomLeft &__arrow {
    .b();
    left: @brSize;
  }
  &__content--bottomRight &__arrow {
    .b();
    right: @brSize;
  }

  &__content--right &__arrow {
    .r();
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
  }
  &__content--rightTop &__arrow {
    .r();
    top: @brSize;
  }
  &__content--rightBottom &__arrow {
    .r();
    bottom: @brSize;
  }
}

// 气泡展示隐藏动画
.show {
  &-enter {
    &-from {
      opacity: 0;
      scale: 0.5;
    }

    &-active {
      transition: all @animatf;
    }

    &-to {
      opacity: 1;
      scale: 1;
    }
  }
  &-leave {
    &-from {
      opacity: 1;
      scale: 1;
    }

    &-active {
      transition: all @animatf;
    }
    &-to {
      opacity: 0;
      scale: 0.5;
    }
  }
}
