@import '../../styles/color/colors.less';
.yk-form {
  display: flex;
  flex-direction: column;
}

.yk-form-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: @space-l 0;
}
