.yk-select-view {
  position: relative;
  width: 100%;
  background-color: var(--bgColor1);
}
.yk-select-view .yk-select-view--cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  transform: translateX();
}
.yk-select-view .yk-select-view__input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0 16px 0 12px;
  width: 100%;
  height: 32px;
  border: 1px solid rgba(var(--gray), 0.24);
  border-radius: 4px;
  transition: all 0.3s;
}
.yk-select-view .yk-select-view__input .yk-select-view__icon__closed {
  padding: 0 0 0 8px;
  width: 25px;
  cursor: pointer;
  color: color-mix(in srgb, rgb(var(--pcolor)), #000 32%);
}
.yk-select-view .yk-select-view__input .scrollContent {
  display: flex;
  align-items: center;
  transform: translateX(-100px);
}
.yk-select-view .yk-select-view__input .text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  white-space: nowrap;
}
.yk-select-view .yk-select-view__input .yk-select-view__tags {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 10px 0 0;
  padding: 0 8px 0 8px;
  height: 24px;
  border-radius: 4px;
  background-color: rgba(var(--pcolor), 0.16);
  flex-wrap: nowrap;
  line-height: 24px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.yk-select-view .yk-select-view__input .yk-select-view__input--default {
  width: inherit;
  border: none;
  color: rgba(var(--gray), 0.72);
  background-color: unset;
  outline: none;
}
.yk-select-view .yk-select-view__input:hover {
  border-color: rgb(var(--pcolor));
}
.yk-select-view .yk-select-view__input .yk-select-view__icon--closed {
  border-radius: 8px;
  color: rgba(var(--gray), 0.72);
  transition: all 0.3s;
  cursor: pointer;
}
.yk-select-view__input--focused {
  border-color: rgb(var(--pcolor)) !important;
  box-shadow: 0 0 4px rgb(var(--pcolor));
}
