{
  // 根配置，此文件为根配置文件
  "root": true,

  // 指定代码环境
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
    "browser": true
  },

  // 全局变量定义
  "globals": {
    // 定义一个全局变量 defineModel
    "defineModel": true
  },

  // 指定代码解析器和选项
  // 使用 vue-eslint-parser 解析 Vue 文件
  "parser": "vue-eslint-parser",
  "parserOptions": {
    // 使用 @typescript-eslint/parser 解析 TypeScript 文件
    "parser": "@typescript-eslint/parser",

    // 使用最新的 ECMAScript 版本
    "ecmaVersion": "latest",

    // 使用模块类型的代码
    "sourceType": "module",

    "ecmaFeatures": {
      "jsx": true // 支持JSX语法
    }
  },

  // 继承的规则配置
  "extends": [
    // 使用 eslint 推荐的规则
    "eslint:recommended",

    // 使用 vue3-recommended 插件的 Vue 规则
    "plugin:vue/vue3-recommended",

    // 使用 @typescript-eslint/recommended 插件的 TypeScript 规则
    "plugin:@typescript-eslint/recommended",

    // 使用 prettier 规则，保持代码风格一致
    "prettier",

    // 使用 import/recommended 插件的规则，帮助检查 import 语句
    "plugin:import/recommended",

    // 使用 import/typescript 插件的 TypeScript 规则
    "plugin:import/typescript"
  ],

  // 使用的插件
  "plugins": ["@typescript-eslint", "unused-imports"],

  // 自定义规则配置
  "rules": {
    "no-multiple-empty-lines": [
      "warn",
      {
        // 最多允许 1 个空行
        "max": 1
      }
    ],

    // 禁用在单行元素中将HTML内容与元素标签必须放在同一行。
    "vue/singleline-html-element-content-newline": "off",

    // 禁用 vue/require-v-for-key 规则
    "vue/require-v-for-key": "off",

    // 禁用语句末尾的分号
    "semi": ["off", "never"],

    // 关闭对非空断言的检查
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "off",

    // 关闭 any 类型的检查
    "@typescript-eslint/no-explicit-any": "off",

    // 关闭对 emit 的显式定义要求
    "vue/require-explicit-emits": "off",

    // 关闭多单词组件名称的要求
    "vue/multi-word-component-names": "off",

    // 关闭修改 props 的警告
    "vue/no-mutating-props": "off",

    // 关闭未使用变量的检查
    "no-unused-vars": "off",

    // 未使用的导入会报错
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",

        // 忽略下划线开头的变量
        "argsIgnorePattern": "^_"
      }
    ],

    // 关闭对 setup 中解构 props 的检查
    "vue/no-setup-props-destructure": "off",

    // 关闭未解析的导入警告
    "import/no-unresolved": "off",

    // 关闭将导出标记为默认导出的警告
    "import/no-named-as-default": "off"
  }
}
