{
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.ts",
      "excludeFiles": ["demo/components.d.ts"],
      "options": {
        "semi": true
      }
    }
  ],
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "trailingComma": "all",
  "tabWidth": 2
}
