@import '../../styles/color/colors.less';
.yk-radio {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  input {
    display: none;
  }
  &--box {
    width: @size-m;
    height: @size-m;
    border-radius: 50%;
  }
}
