@import './variables.less';
.yk-button--loading {
  opacity: 0.7 !important;
  svg {
    width: 16px;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    margin-right: 4px;
  }

  circle {
    fill: none;
    stroke: hsl(227, 16%, 89%);
    stroke-width: 3;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
}

.yk-button {
  padding: 6px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  outline: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: all @animatb ease-in-out;
  user-select: none;
  // 默认按钮状态
  color: @btn-primary-color-text;
  circle {
    stroke: @btn-primary-color-text;
  }
  background-color: @btn-primary-color-bg;
  border-color: @btn-primary-color-border;

  .btn-type(@type) {
    .normal() {
      color: ~'@{btn-@{type}-color-text}';
      circle {
        stroke: ~'@{btn-@{type}-color-text}';
      }
      background-color: ~'@{btn-@{type}-color-bg}';
      border-color: ~'@{btn-@{type}-color-border}';
      &:not(:disabled):hover {
        background-color: ~'@{btn-@{type}-color-hover}';
      }
      &:not(:disabled):active {
        background-color: ~'@{btn-@{type}-color-bg}';
      }
    }
    &--@{type} {
      .normal();
    }
  }

  .btn-status(@type: primary, @status: primary) {
    .normal() {
      color: ~'@{btn-@{type}-color-text_@{status}}';
      circle {
        stroke: ~'@{btn-@{type}-color-text_@{status}}';
      }
      background-color: ~'@{btn-@{type}-color-bg_@{status}}';
      border-color: ~'@{btn-@{type}-color-border_@{status}}';
      &:not(:disabled):hover {
        background-color: ~'@{btn-@{type}-color-hover_@{status}}';
      }
      &:not(:disabled):active {
        background-color: ~'@{btn-@{type}-color-bg_@{status}}';
      }
    }
    &.yk-button--@{type}.yk-button--@{status} {
      .normal();
    }
  }

  .btn-type(primary);
  .btn-type(secondary);
  .btn-type(outline);

  .btn-status(primary);
  .btn-status(primary, success);
  .btn-status(primary, warning);
  .btn-status(primary, danger);

  .btn-status(secondary);
  .btn-status(secondary, success);
  .btn-status(secondary, warning);
  .btn-status(secondary, danger);

  .btn-status(outline);
  .btn-status(outline, success);
  .btn-status(outline, warning);
  .btn-status(outline, danger);

  // 尺寸 size
  &--s {
    height: 24px;
    padding: 0px @space-s;
    border-radius: @radius-s;
    font-size: @size-ss;
    min-width: 24px;
  }
  &--m {
    height: 32px;
    min-width: 32px;
    padding: 0px @space-l;
    border-radius: @radius-s;
  }
  &--l {
    height: 36px;
    min-width: 36px;
    padding: 0px @space-l;
    border-radius: @radius-m;
  }
  &--xl {
    height: 48px;
    min-width: 48px;
    padding: 0px @space-xl;
    border-radius: @radius-m;
    font-size: @size-m;
  }
  &--long {
    width: 100%;
    display: block;
  }

  // 圆角样式
  &--round {
    border-radius: @radius-r;
  }
  &--circle {
    border-radius: @radius-r;
    padding: 0;
  }

  &--square {
    padding: 0;
  }

  // 禁用
  &--disabled {
    .disabled();
  }
}
