@import './variables.less';

.pagination-disabled() {
  cursor: not-allowed;
  opacity: 0.56;
}

.pagination-size(@size: l) {
  &--@{size} {
    .yk-pagination-pager__item {
      min-width: ~'@{pagination-pager-size__@{size}}';
      height: ~'@{pagination-pager-size__@{size}}';
      font-size: @size-ss;
      line-height: ~'@{pagination-pager-size__@{size}}';
      border-radius: ~'@{pagination-border-radius__@{size}}';
    }
  }
}

.yk-pagination {
  display: flex;
  align-items: center;
  user-select: none;

  .pagination-size(s);
  .pagination-size(m);
  .pagination-size(l);
  .pagination-size(xl);
}

.yk-pagination-pager {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;

  &__item {
    cursor: pointer;
    margin: 0 @pagination-margin-size;
    text-align: center;
    vertical-align: middle;
    color: @font-color-l;
    background-color: @pagination-pager-bg-color;

    &-ellipsis {
      background-color: transparent;
    }

    &--active {
      color: #fff !important;
      background-color: @pagination-pager-bg-color__active;
    }

    &--disabled {
      .pagination-disabled();
    }

    &:not(&-ellipsis):hover {
      color: @pagination-font-color__hover;
    }
  }
}

.yk-pagination-page-size {
  margin-left: @pagination-margin-size;
}

.yk-pagination-jumper {
  display: flex;
  align-items: center;
  margin: 0 @pagination-margin-size * 2;

  .yk-input__inner {
    overflow: hidden;
  }

  .yk-input__widget {
    width: 64px !important;
  }

  &__label {
    margin-right: @pagination-margin-size * 2;
    white-space: nowrap;
    color: @font-color-l;
  }

  &__separator {
    margin: 0 @pagination-margin-size * 2;
  }
}

.yk-pagination-total {
  margin-right: @pagination-margin-size * 2;
  white-space: nowrap;
}
