@import './variables.less';
.yk-pagination {
  display: flex;
  align-items: center;
  user-select: none;

  &-prev,
  &-next {
    background-color: @pagination-color-bg;
    outline: none;
    border: none;
    color: @gray;
  }

  &-prev {
    margin-right: 4px;
  }

  &-next {
    margin-left: 4px;
  }

  &-pager {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &__item {
      background-color: @pagination-color-bg;
      text-align: center;
      vertical-align: middle;
      margin: 0 4px;
      display: inline-block;
      color: @gray;

      &.is-active {
        color: #fff;
        background-color: @pagination-color-bg__active;
      }
    }
  }

  &-prev,
  &-next,
  &-pager__item {
    cursor: pointer;

    &:not(.is-active):hover {
      background-color: @pagination-color-bg__hover;
    }

    &.is-disabled,
    &:is(.is-disabled):hover {
      background-color: @pagination-color-bg__disabled;
      cursor: not-allowed;
    }

    &--s {
      height: 24px;
      min-width: 24px;
      line-height: 24px;
      border-radius: @radius-s;
      font-size: @size-ss;
    }
    &--m {
      height: 32px;
      min-width: 32px;
      line-height: 32px;
      border-radius: @radius-s;
    }
    &--l {
      height: 36px;
      min-width: 36px;
      line-height: 36px;
      border-radius: @radius-m;
    }
    &--xl {
      height: 48px;
      min-width: 48px;
      line-height: 48px;
      border-radius: @radius-m;
      font-size: @size-m;
    }
  }

  &-jumper {
    display: flex;
    align-items: center;
    margin-left: 8px;

    &__prepend {
      white-space: nowrap;
      color: @gray;
      margin-right: 8px;
    }

    &__input-wrapper {
      padding: 0 8px;
      border-radius: @radius-m;
      background-color: @pagination-color-bg;

      input[type='number'] {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: @gray;
        text-align: center;
        vertical-align: middle;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          appearance: none;
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &--s {
        height: 24px;
        width: 36px;
        border-radius: @radius-s;
        font-size: @size-ss;
      }
      &--m {
        height: 32px;
        width: 44px;
        border-radius: @radius-s;
      }
      &--l {
        height: 36px;
        width: 48px;
        border-radius: @radius-m;
      }
      &--xl {
        height: 48px;
        width: 60px;
        border-radius: @radius-m;
        font-size: @size-m;
      }
    }
  }
}
