.yk-title,
.yk-text {
  &--default {
    color: @font-color-l;
  }

  &--primary {
    color: @pcolor;
  }

  &--secondary {
    color: @font-color-m;
  }

  &--success {
    color: @scolor;
  }

  &--warning {
    color: @wcolor;
  }

  &--danger {
    color: @ecolor;
  }

  &--third {
    color: @font-color-s;
  }

  &--disabled {
    color: @font-color-ss;
  }
}

strong.yk-text {
  font-weight: 700;
}

mark.yk-text {
  background-color: rgb(255 214 28 / 48%);
}

/* stylelint-disable-next-line selector-type-no-unknown */
underline.yk-text {
  text-decoration: underline;
}

del.yk-text {
  text-decoration: line-through;
}

.yk-typography {
  .yk-paragraph {
    position: relative;
    margin-bottom: 1em;

    .icon {
      cursor: pointer;
      fill: @pcolor;
    }

    .more-par {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-left: 20px;
      background-color: #fff;
    }

    .ellipsis {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .more {
      position: absolute;
      right: 0;
      bottom: 0;
      color: @pcolor;
      cursor: pointer;
    }
  }
}

.yk-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h1.yk-title {
  font-size: 40px;
  line-height: 1.24;
}

h2.yk-title {
  font-size: 32px;
  line-height: 1.28;
}

h3.yk-title {
  font-size: 24px;
  line-height: 1.34;
}

h4.yk-title {
  font-size: 18px;
  line-height: 1.4;
}

h5.yk-title {
  font-size: 16px;
  line-height: 1.5;
}
