.yk-content {
  position: relative;
  overflow: hidden;

  .box {
    width: 100%;
    // height: calc(100% + 18px);
    height: 100%;
    overflow: auto;
  }

  .box::-webkit-scrollbar {
    /* 滚动条整体样式 */
    width: 0;

    /* 高宽分别对应横竖滚动条的尺寸 */
    height: 0;
  }

  .box::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 10%);

    /* 滚动条里面小方块 */
    border-radius: 4px;
  }

  .box::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 0%);

    /* 滚动条里面轨道 */
    border-radius: 4px;
  }

  .scrollx {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 12px;
    opacity: 0;
    transition: opacity @animats;
    // background-color: rgba(#000, 0.1);
    .scroll-body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      background-color: @line-color-s;
      border-radius: 12px;
      transition: background-color @animats;

      &:hover {
        background-color: @line-color-m;
      }
    }
  }

  .scrolly {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    // background-color: rgba(#000, 0.1);
    .scroll-body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: @line-color-s;
      border-radius: 12px;
      transition: background-color @animats;

      &:hover {
        background-color: @line-color-m;
      }
    }
  }

  &:hover {
    .scrollx {
      opacity: 1;
    }

    .scrolly {
      opacity: 1;
    }
  }
}
