@import '../../popover/style/index.less';
.yk-popconfirm {
  &__button-group {
    display: flex;
    justify-content: end;
    margin-top: @space-ss;
    padding: 0 @space-ss @space-s;
    gap: @space-s;
  }
  &__content {
    padding: @space-s @space-ss;
    .font-s();
    text-align: justify;
    color: @font-color-m !important;
  }
}
