@import '../../styles/color/colors.less';

@sizes: {
  s: 14px;
  m: 18px;
  l: 22px;
  xl: 26px;
};

.yk-rate {
  display: inline-flex;

  // prettier-ignore
  each(@sizes, { 
    .yk-rate-icon-@{key}{
      width: @value; 
      height: @value;
    }
  })

  &--s {
    column-gap: @space-ss;
  }

  &--m {
    column-gap: 6px;
  }

  &--l {
    column-gap: @space-s;
  }

  &--xl {
    column-gap: 10px;
  }
}

.yk-rate-item {
  position: relative;
  cursor: pointer;
  transition: all @animatb;

  &:hover {
    transform: scale(1.2);
  }

  &--animation {
    animation-name: rateScale;
    animation-duration: 0.34s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .yk-rate-icon {
    color: @bg-color-ss;
  }

  .yk-rate-icon--select {
    color: @wcolor;
  }
}

.yk-rate-half {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 50%;
  opacity: 0;

  &--select {
    opacity: 1;
  }

  &-icon {
    color: @wcolor;
  }
}

yk-rate--disabled,
yk-rate--readonly {
  .yk-rate-item {
    transform: none;
  }

  .yk-rate-icon {
    transition: none;

    &:hover {
      transform: none;
    }
  }
}

yk-rate--readonly {
  .yk-rate-icon {
    cursor: default;
  }
}

yk-rate--disabled {
  .yk-rate-icon {
    cursor: not-allowed;
  }
}

@keyframes rateScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
