.yk-avatar {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  background-color: @font-color-ss;
  transition: all @animats;
  vertical-align: top;
  img {
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
  }

  &-group {
    border: 2px solid @bg-color-l;
  }

  .disembark {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 50%;
      height: 50%;
      color: #fff;
      line-height: 0;
    }
  }
}

.yk-avatar-group {
  display: flex;

  &-more {
    background-color: @pcolor;
    color: #fff;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid @bg-color-l;
    transition: border @animats;
  }
}
