.yk-backtop {
  position: fixed;
  z-index: 999;
  cursor: pointer;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: @pcolor;
    border-radius: @radius-m;

    /* stylelint-disable-next-line selector-class-pattern */
    .yk-backtop__icon {
      width: 24px;
      height: 24px;
      color: #fff;
    }
  }

  &-container.secondary {
    background: @bg-color-ss;

    /* stylelint-disable-next-line selector-class-pattern */
    .yk-backtop__icon {
      width: 24px;
      height: 24px;
      color: @font-color-l;
    }
  }
}
