.ykcolor-dark,
.ykcolor-light,
.ykcolor-neutral {
  margin-top: 40px;

  h3,
  h4 {
    margin: 20px 0;
  }

  p {
    margin: 10px 0;
  }

  .ykcolor-quote {
    margin-bottom: 30px;
    padding: 5px 0 5px 10px;
    border-left: 2px solid #2b5aed;
  }

  .ykcolor-group {
    display: grid;
    grid-template-columns: repeat(3, 218px);
    gap: 24px;
    align-items: flex-start;
  }
}
