@import './index.less';
@import './code-color.less';
*,
*::before,
*::after {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

// 平滑滚动
html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  min-height: 100vh;
  font-size: 14px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: @font-color-l;
  background: @bg-color-l;
  transition: color @animats, background-color @animats;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: @lcolor;
  transition: 0.3s;
}
.top-title {
  padding-bottom: 20px;
}

/* scroll */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid @bg-color-m;
  border-radius: 8px;
  background-color: @line-color-l;
  transition: all @animats;
}

::-webkit-scrollbar-track {
  background-color: @bg-color-m;
  transition: all @animats;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  margin: 0;
  padding: 0;
}

.yk-demo-doc {
  margin-top: 1em;
  margin-bottom: 0.5em;
  strong {
    font-weight: 500;
    color: cadetblue;
  }
  p {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.24;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.28;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.34;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
  }
  h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }
  .hljs {
    margin: @space-m 0;
    padding: @space-l @space-xl;
    background-color: @bg-color-m;
  }

  li:not(.yk-anchor-item) {
    margin: @space-m 0 @space-m @space-l;
    padding-left: 0;
    list-style-type: decimal;
    line-height: 1.6;
  }
  a:not(.n-link):not(.yk-anchor-item-title) {
    text-decoration: none;
    color: #333333;
  }
  pre {
    overflow: hidden;
    margin-bottom: @space-ss;
    padding: @space-m;
    max-width: 1200px;
    border-radius: 8px;
    text-align: left;
    background-color: #e6effb;
  }
  p > code {
    margin: 0 1px;
    padding: 4px 8px;
    border-radius: 4px;
    color: @font-color-l;
    background: @gray-1;
  }
  table {
    overflow: hidden;
    margin-top: @space-m;
    margin-bottom: 40px;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    border: 1px solid @line-color-s;
    border-radius: @radius-m;
    transition: border @animats;
    border-spacing: 0;

    &:last-child {
      margin-bottom: unset;
    }

    tr:hover {
      background-color: @bg-color-m;
    }

    td:nth-child(3) {
      color: @scolor;
    }

    th {
      padding-left: @space-m;
      font-size: @size-s;
      font-weight: 600;
      text-align: left;
      background-color: @bg-color-m;
      transition: background-color @animats;
      line-height: 44px;
    }

    td {
      padding: 10px @space-m;
      max-width: 240px;
      border-top: 1px solid @line-color-s;
      text-align: left;
      transition: border @animats;
    }
    .light {
      color: @scolor;
    }
  }
  .yk-pure-doc {
    margin: 12px 0px 8px;
  }
}

.yk-icon-list {
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  *zoom: 1;
  flex-wrap: wrap;
  padding-inline-start: 0px;

  .yk-icon-container {
    padding: 16px;
    width: 160px;
    border: 0.8px solid @line-color-s;
    text-align: center;
    list-style: none !important;
    cursor: pointer;

    svg {
      display: block;
      margin: 0 auto 10px;
      height: 64px;
      font-size: 32px;
      color: @font-color-l;
      transition: font-size 0.1s linear, width 0.1s linear;
      line-height: 64px;
    }

    svg:hover {
      font-size: 42px;
    }
  }
  .yk-icon-name {
    color: @font-color-m;
  }
}
