@import './color/colors.less';

//function-color
@pcolor: rgb(var(--pcolor)); // 全局主色
@lcolor: rgb(var(--lcolor)); // 链接色
@scolor: rgb(var(--scolor)); // 成功色
@wcolor: rgb(var(--wcolor)); // 警告色
@ecolor: rgb(var(--ecolor)); // 错误色

//font-color
@font-color-l: @gray-10;
@font-color-m: @gray-8;
@font-color-s: @gray-6;
@font-color-ss: @gray-5;

//bg-color
@bg-color-l: var(--bgColor1);
@bg-color-m: var(--bgColor2);
@bg-color-s: var(--bgColor3);
@bg-color-ss: var(--bgColor4);

//line-color
@line-color-s: @gray-1;
@line-color-m: @gray-3;
@line-color-l: @gray-5;

//special color
@light: var(--bgColor5);
@dark: var(--bgColor6);

// Animation
@animats: 0.3s; // Modal
@animatb: 0.2s;
@animatf: 0.1s; // Tooltip

//font-size
@size-ss: 12px; // 小号
@size-s: 14px; // 主字号
@size-m: 16px; // 大一号
@size-l: 20px; // 大二号
@size-xl: 32px; // 特大号

//radius
@radius-xl: 16px;
@radius-l: 12px;
@radius-m: 8px;
@radius-s: 4px;
@radius-r: 800px;

//背景投影
@shadow-s: 0 6px 6px -2px rgba(0, 0, 0, 0.12);
@shadow-m: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
@shadow-l: 0 4px 48px 0 rgba(0, 0, 0, 0.12);

//间距space
@space-ss: 4px;
@space-s: 8px;
@space-m: 12px;
@space-l: 16px;
@space-xl: 24px;
