// -------- Functional color light -----------
@pcolor-light: #2b5aed; // 全局主色
@lcolor-light: #1890ff; // 链接色
@scolor-light: #1fb4a2; // 成功色
@wcolor-light: #f5ac08; // 警告色
@ecolor-light: #fa5247; // 错误色

// -------- Functional color dark -----------
@pcolor-dark: #3575f6; // 全局主色
@lcolor-dark: #308ce1; // 链接色
@scolor-dark: #3dc799; // 成功色
@wcolor-dark: #fbad3b; // 警告色
@ecolor-dark: #df4d43; // 错误色

//----中性色----
@gray1: #1e2025;
@gray2: #24262b;
@gray3: #282a2f;
@gray4: #33353b;
// @gray5: #cfd0d2;
// @gray6: #dededf;
@gray7: #e8e9eb;
@gray8: #f3f3f4;
@gray9: #f6f6f8;
@gray10: #ffffff;

//function-color
@pcolor: var(--pcolor, @pcolor-light); // 全局主色
@lcolor: var(--lcolor, @lcolor-light); // 链接色
@scolor: var(--scolor, @scolor-light); // 成功色
@wcolor: var(--wcolor, @wcolor-light); // 警告色
@ecolor: var(--ecolor, @ecolor-light); // 错误色

//font-color
@font-color-l: var(--fontcolorl, rgba(@gray1, 1));
@font-color-m: var(--fontcolorm, rgba(@gray1, 0.8));
@font-color-s: var(--fontcolors, rgba(@gray1, 0.5));
@font-color-ss: var(--fontcolorss, rgba(@gray1, 0.3));

//bg-color
@bg-color-l: var(--bgcolorl, @gray10);
@bg-color-m: var(--bgcolorm, @gray9);
@bg-color-s: var(--bgcolors, @gray8);
@bg-color-ss: var(--bgcolorss, @gray7);

//line-color
@line-color-s: var(--linecolors, rgba(@gray1, 0.08));
@line-color-m: var(--linecolorm, rgba(@gray1, 0.16));
@line-color-l: var(--linecolorl, rgba(@gray1, 0.24));

// Animation
@animats: 0.3s; // Modal
@animatb: 0.2s;
@animatf: 0.1s; // Tooltip

//font-size
@size-ss: 12px; // 小号
@size-s: 14px; // 主字号
@size-m: 16px; // 大一号
@size-l: 20px; // 大二号
@size-xl: 32px; // 特大号

//radius
@radius-l: 12px;
@radius-xl: 16px;
@radius-m: 8px;
@radius-s: 4px;
@radius-r: 800px;

//背景投影
@shadow-s: 0 6px 6px -2px rgba(0, 0, 0, 0.12);
@shadow-m: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
@shadow-l: 0 4px 48px 0 rgba(0, 0, 0, 0.12);

//间距space
@space-ss: 4px;
@space-s: 8px;
@space-m: 16px;
@space-l: 24px;
