.yk-tabs {
  @base-height: 40px;
  &-bar {
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: @radius-s*.5;
    background-color: @pcolor;
    transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  }
  &-nav__icon--disabled {
    color: @font-color-s;
  }
  &-nav {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid @line-color-s;
    .yk-icon {
      cursor: pointer;
    }

    &__wrap {
      display: flex;
      flex-wrap: nowrap;
      flex: 1;
      overflow: hidden;
      min-height: @base-height;
    }
    &__scroll {
      display: flex;
      flex-wrap: nowrap;
      flex-shrink: 0;
      transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
      .yk-close {
        margin-left: 10px;
      }
    }
    &__item {
      flex-shrink: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0px 12px;
      padding: 4px 0px;
      min-width: 10px;
      height: @base-height;
      font-size: @size-m;
      color: rgba(@gray, 0.5);
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        color: @font-color-l;
      }
    }
    &__item--active {
      color: @font-color-l;
    }
    &__item--card {
      margin: 0;
      padding: 4px 12px;
      min-width: 60px;
      border: 1px solid @line-color-s;
    }
  }

  &-pane {
    display: none;
    &__content {
      padding: 32px;
      width: 100%;
      height: 100px;
      font-size: 32px;
    }
  }
}
