.yk-upload {
  width: 100%;
  &__files {
    width: 100%;
  }
  &__file-icon {
    margin-right: @space-s;
    line-height: 14px;
    width: 14px;
    height: 14px;
  }
  &__file-button {
    margin-right: @space-l;
  }
  &__file-list {
    display: flex;
    margin-top: @space-xl;
    width: 100%;
    flex-direction: column-reverse;
  }
  &__pictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
  }
  &__picture {
    margin-right: @space-m;
    margin-bottom: @space-m;
    width: 80px;
    height: 80px;
  }
  &__picture-button:hover {
    background-color: @bg-color-s;
  }
  &__picture-button {
    position: relative;
    margin-right: 40px;
    width: 80px;
    height: 80px;
    border: 1px dashed @line-color-m;
    background: @bg-color-m;
    cursor: pointer;
    &--disabled {
      cursor: not-allowed;
      opacity: 0.56;
    }
    .picture-desc {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
    &-icon {
      font-size: @size-m;
      color: @font-color-s;
    }
    &-desc {
      margin-top: @space-ss;
      font-size: @size-s;
      color: @font-color-m;
      line-height: @size-l;
    }
  }
  &--default {
    border-radius: @radius-m;
  }
  &--circle {
    border-radius: 50%;
  }
  &-pictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
  }
}
