.yk-upload {
  width: 100%;
}
.yk-uploader-files {
  width: 100%;
  .file-upload-icon {
    margin-right: @space-s;
    line-height: 14px;
    width: 14px;
    height: 14px;
  }
  .yk-uploader-list {
    display: flex;
    margin-top: @space-xl;
    width: 100%;
    flex-direction: column-reverse;
  }
  .yk-file-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: @space-s;
    width: 100%;
    min-height: 36px;
    color: @pcolor;
    flex-direction: row;
    .file-content-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 14px;
      width: 100%;
      border-radius: @radius-m;
      background-color: @bg-color-m;
      flex-direction: row;
    }
    .delete-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      width: 24px;
      flex-direction: row;
    }
    .annex-yk-icon {
      margin-right: @space-s;
      min-width: 14px;
      min-height: 14px;
    }
    .yk-kaobei {
      min-width: 14px;
      min-height: 14px;
    }
    .delete-yk-icon {
      cursor: pointer;
      color: @font-color-s;
    }
    .success-yk-icon {
      color: @scolor;
    }
    .re-upload-yk-icon {
      color: @pcolor;
      cursor: pointer;
    }
    .default-bg {
      fill: @pcolor;
    }
    .abort-yk-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
    }
  }
}
.content-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: @space-s 0px;
  font-size: @size-s;
  font-weight: 400;
  color: @pcolor;
  flex-direction: row;
  .yk-file-name {
    &__error {
      color: @ecolor;
    }
  }
}
.content-right {
  display: flex;
  justify-content: flex-start;
  font-size: @size-s;
  color: @pcolor;
  flex-direction: row;
  svg {
    margin-left: @space-m;
  }
}
.yk-uploader-file {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-left: @space-l;
  }
}
.yk-uploader-pictures {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  .yk-image-uploader {
    position: relative;
    margin-right: 40px;
    min-width: 80px;
    height: 80px;
    border: 1px dashed @line-color-m;
    background: @bg-color-m;
    cursor: pointer;
    &__default {
      border-radius: @radius-m;
    }
    &__circle {
      border-radius: 50%;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: @line-color-l;
    }
    &::before {
      top: 50%;
      left: 50%;
      width: 2px;
      height: 14px;
      transform: translate(-50%, -50%);
    }
    &::after {
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      transform: translate(-50%, -50%);
    }
  }
  .yk-images-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
  }

  .yk-image-content {
    overflow: hidden;
    margin-right: @space-m;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background: @bg-color-m;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .overlay-primary-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity 0.3s ease;
    flex-direction: row;
  }
  .overlay-fail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.2;
    transition: opacity 0.3s ease;
    flex-direction: row;
  }
  .upload-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
  }
  .uploading-icons {
    cursor: pointer;
    fill: #fff;
    .progress-path {
      opacity: 0.5;
    }
  }
  .fail-icon {
    svg {
      font-size: 22px;
    }
  }
  .hover-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 14px;
    font-size: @size-ss;
    color: #fff;
    visibility: hidden;
    flex-direction: row;
    transform: translate(-50%, -50%);
    svg {
      font-size: @size-s;
      cursor: pointer;
    }
  }
  .yk-image-content:hover {
    .overlay-primary-hover {
      opacity: 0.4;
      visibility: visible;
    }
    .hover-icons {
      visibility: visible;
    }
    .overlay-fail {
      opacity: 0.4;
    }
    .fail-icon {
      visibility: hidden;
    }
  }
}
