:root {
  --pcolor: 43, 90, 237;
  --lcolor: 24, 144, 255;
  --scolor: 31, 180, 162;
  --wcolor: 255, 170, 26;
  --ecolor: 250, 82, 71;
  --gray: 30, 32, 37;
  --bgColor1: #fff;
  --bgColor2: color-mix(in srgb, #fff, #1e2025 3.6%);
  --bgColor3: color-mix(in srgb, #fff, #1e2025 4.8%);
  --bgColor4: color-mix(in srgb, #fff, #1e2025 9.4%);
  --bgColor5: #fff;
  --bgColor6: #1e2025;
}
[data-theme='dark'] {
  --pcolor: 53, 117, 246;
  --lcolor: 48, 140, 225;
  --scolor: 25, 173, 120;
  --wcolor: 246, 162, 36;
  --ecolor: 223, 77, 67;
  --gray: 255, 255, 255;
  --bgColor1: #1e2025;
  --bgColor2: color-mix(in srgb, #1e2025, #fff 2.4%);
  --bgColor3: color-mix(in srgb, #1e2025, #fff 4%);
  --bgColor4: color-mix(in srgb, #1e2025, #fff 7.8%);
  --bgColor5: color-mix(in srgb, #1e2025, #fff 2.4%);
  --bgColor6: color-mix(in srgb, #1e2025, #fff 4%);
}
