.modal {
  &-enter {
    &-from {
      transform: scale(0);
      opacity: 0;
    }

    &-active {
      transition: all @animatf ease-out;
    }

    &-to {
      transform: scale(1);
      opacity: 1;
    }
  }

  &-leave {
    &-from {
      transform: scale(1);
      opacity: 1;
    }

    &-active {
      transition: all 0.2s;
    }

    &-to {
      transform: scale(0);
      opacity: 0;
    }
  }
}

#yk-badge {
  position: relative;
  display: inline-flex;
  vertical-align: top;

  .yk-badge {
    border-radius: @radius-r;
    background-color: @ecolor;
    border-color: @bg-color-l;
    border-style: solid;
    position: absolute;
    box-sizing: content-box;
    transition: all @animats;
  }

  .badge {
    min-width: 20px;
    height: 20px;
    top: -10px;

    .count {
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      padding: 0 6px;
      font-weight: 600;
    }
  }

  .dot {
    width: 6px;
    height: 6px;
    right: -4px;
    top: -4px;

    .count {
      display: none;
    }
  }

  .status {
    display: flex;
    align-items: center;
    height: 22px;
  }

  .status-dot {
    width: 6px;
    height: 6px;
    background-color: @font-color-s;
    border-radius: @radius-r;
    transition: all @animats;
  }

  .status-text {
    padding-left: @space-s;
  }

  //状态色
  .default {
    background-color: @font-color-s;
  }

  .success {
    background-color: @scolor;
  }

  .warning {
    background-color: @wcolor;
  }

  .primary {
    background-color: @pcolor;
  }

  .danger {
    background-color: @ecolor;
  }
}
