.yk-progress {
  display: flex;
  align-items: center;
  .yk-progress-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: @radius-s;
    background: #e8e8e8;
  }
  .yk-progress__text {
    margin-left: 16px;
    font-family: PingFangSC-Regular;
    color: #1e2025cc;
  }
}
