.yk-empty {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
  background-color: @bg-color-l;

  &__image {
    img {
      width: 100%;
      height: 100%;
      vertical-align: top;
      user-select: none;
      object-fit: contain;
    }
  }

  &__description {
    margin-top: 20px;

    p {
      margin: 0;
      font-size: @size-s;
      color: #909399;
    }
  }

  &__bottom {
    margin-top: 20px;
  }
}
