name: Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Build docs
        run: |
          pnpm run build:demo
          touch ./demo/dist/index.html

      - name: Deploy site
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          clean: true
          branch: gh-pages
          folder: ./demo/dist
          token: ${{secrets.GIT_TOKEN}}
