@font-face {
  font-family: "iconfont"; /* Project id 3952736 */
  src: url('iconfont.woff2?t=1689514825285') format('woff2'),
       url('iconfont.woff?t=1689514825285') format('woff'),
       url('iconfont.ttf?t=1689514825285') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yk-top:before {
  content: "\e717";
}

.yk-ppt:before {
  content: "\e710";
}

.yk-shipin:before {
  content: "\e711";
}

.yk-excel:before {
  content: "\e712";
}

.yk-yinpin:before {
  content: "\e713";
}

.yk-txt:before {
  content: "\e714";
}

.yk-word:before {
  content: "\e715";
}

.yk-pdf:before {
  content: "\e716";
}

.yk-tushangchuanshibai:before {
  content: "\e70f";
}

.yk-jiazai1:before {
  content: "\e70c";
}

.yk-fujian:before {
  content: "\e70d";
}

.yk-shangchuan2:before {
  content: "\e70e";
}

.yk-fangda1:before {
  content: "\e700";
}

.yk-suoxiao1:before {
  content: "\e701";
}

.yk-quanjia:before {
  content: "\e702";
}

.yk-jingbao:before {
  content: "\e703";
}

.yk-yifu:before {
  content: "\e704";
}

.yk-jiangbei:before {
  content: "\e705";
}

.yk-shuju:before {
  content: "\e706";
}

.yk-paihang:before {
  content: "\e707";
}

.yk-huangguan:before {
  content: "\e708";
}

.yk-vip:before {
  content: "\e709";
}

.yk-geshishua:before {
  content: "\e70a";
}

.yk-wenjianjiajia:before {
  content: "\e70b";
}

.yk-dengpao:before {
  content: "\e6ff";
}

.yk-yuedu:before {
  content: "\e6fe";
}

.yk-anquan:before {
  content: "\e6d2";
}

.yk-daiban:before {
  content: "\e6d3";
}

.yk-biaoqian:before {
  content: "\e6f0";
}

.yk-anquan1:before {
  content: "\e6f1";
}

.yk-jianhao:before {
  content: "\e6f2";
}

.yk-guangbo:before {
  content: "\e6f3";
}

.yk-kapian:before {
  content: "\e6f4";
}

.yk-gouwudai:before {
  content: "\e6f5";
}

.yk-nan:before {
  content: "\e6f6";
}

.yk-gouwuche:before {
  content: "\e6f7";
}

.yk-qianbao:before {
  content: "\e6f8";
}

.yk-liwu:before {
  content: "\e6f9";
}

.yk-shuqian:before {
  content: "\e6fa";
}

.yk-nv:before {
  content: "\e6fb";
}

.yk-riqi:before {
  content: "\e6fc";
}

.yk-renyuanxinxi:before {
  content: "\e6fd";
}

.yk-xin:before {
  content: "\e6ee";
}

.yk-wujiaoxing:before {
  content: "\e6ef";
}

.yk-zuoxuanzhuan:before {
  content: "\e6ed";
}

.yk-caidan:before {
  content: "\e6ea";
}

.yk-zhankai:before {
  content: "\e6eb";
}

.yk-shouqi:before {
  content: "\e6ec";
}

.yk-xiexian:before {
  content: "\e6e9";
}

.yk-daima:before {
  content: "\e6e8";
}

.yk-kaobei:before {
  content: "\e6e5";
}

.yk-biaoqing:before {
  content: "\e69e";
}

.yk-fanhui:before {
  content: "\e69f";
}

.yk-dingwei:before {
  content: "\e6a0";
}

.yk-cha:before {
  content: "\e6a1";
}

.yk-gengduo:before {
  content: "\e6a2";
}

.yk-bofang:before {
  content: "\e6a3";
}

.yk-fenxiang:before {
  content: "\e6a4";
}

.yk-gou1:before {
  content: "\e6a5";
}

.yk-jiahao:before {
  content: "\e6a6";
}

.yk-fangda:before {
  content: "\e6a7";
}

.yk-gou2:before {
  content: "\e6a8";
}

.yk-jiantouxiangxia:before {
  content: "\e6a9";
}

.yk-guanji:before {
  content: "\e6aa";
}

.yk-biyan:before {
  content: "\e6ab";
}

.yk-jiazai:before {
  content: "\e6ac";
}

.yk-lingdang:before {
  content: "\e6ad";
}

.yk-mubiao:before {
  content: "\e6ae";
}

.yk-jinggao:before {
  content: "\e6af";
}

.yk-quancha:before {
  content: "\e6b0";
}

.yk-quanxiangyou:before {
  content: "\e6b1";
}

.yk-quanxiangzuo:before {
  content: "\e6b2";
}

.yk-quangou:before {
  content: "\e6b3";
}

.yk-pinglun:before {
  content: "\e6b4";
}

.yk-saoma:before {
  content: "\e6b5";
}

.yk-qian:before {
  content: "\e6b6";
}

.yk-shanchu:before {
  content: "\e6b7";
}

.yk-qun:before {
  content: "\e6b8";
}

.yk-shezhi:before {
  content: "\e6b9";
}

.yk-shijian:before {
  content: "\e6ba";
}

.yk-sousuo:before {
  content: "\e6bb";
}

.yk-shangchuan:before {
  content: "\e6bc";
}

.yk-shangchuan1:before {
  content: "\e6bd";
}

.yk-taiyang:before {
  content: "\e6be";
}

.yk-tupian:before {
  content: "\e6bf";
}

.yk-tishi:before {
  content: "\e6c0";
}

.yk-tianxie:before {
  content: "\e6c1";
}

.yk-touxiang1:before {
  content: "\e6c2";
}

.yk-wenjianjiaguan:before {
  content: "\e6c3";
}

.yk-shuaxin1:before {
  content: "\e6c4";
}

.yk-touxiang2:before {
  content: "\e6c5";
}

.yk-tongji:before {
  content: "\e6c6";
}

.yk-wenjian:before {
  content: "\e6c7";
}

.yk-suoxiao:before {
  content: "\e6c8";
}

.yk-xiangshang:before {
  content: "\e6c9";
}

.yk-wenjianjiakai:before {
  content: "\e6ca";
}

.yk-shuaxin:before {
  content: "\e6cb";
}

.yk-xiangzuo:before {
  content: "\e6cc";
}

.yk-xiangxia:before {
  content: "\e6cd";
}

.yk-xiazai1:before {
  content: "\e6ce";
}

.yk-suo:before {
  content: "\e6cf";
}

.yk-xiazai:before {
  content: "\e6d0";
}

.yk-a-xiangxia2:before {
  content: "\e6d1";
}

.yk-a-xiangshang2:before {
  content: "\e6d4";
}

.yk-xinxi:before {
  content: "\e6d5";
}

.yk-xiangyou:before {
  content: "\e6d6";
}

.yk-tuichu:before {
  content: "\e6d7";
}

.yk-yanjing:before {
  content: "\e6d8";
}

.yk-yingyong:before {
  content: "\e6d9";
}

.yk-xiangji:before {
  content: "\e6da";
}

.yk-xiugai:before {
  content: "\e6db";
}

.yk-youxuanzhuan:before {
  content: "\e6dc";
}

.yk-zan:before {
  content: "\e6dd";
}

.yk-youjian:before {
  content: "\e6de";
}

.yk-zhuce:before {
  content: "\e6df";
}

.yk-yueliang:before {
  content: "\e6e0";
}

.yk-zhuce2:before {
  content: "\e6e1";
}

.yk-zanting:before {
  content: "\e6e2";
}

.yk-yiwen:before {
  content: "\e6e3";
}

.yk-zhuye:before {
  content: "\e6e4";
}

.yk-yike2:before {
  content: "\e6e6";
}

.yk-yike1:before {
  content: "\e6e7";
}

